.main-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-lg);
  gap: 16px;
  font-size: var(--body-body-s-size);
  background-color: var(--grey-g50);
  scrollbar-width: none;
  height: calc(100vh - 112px)
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 34px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  color: white;
  background-color: #31602c;
  border-radius: 10px;
  cursor: pointer;
  margin-left: auto;
}
button{
  background-color: transparent; 
  border: none;
  font-family: 'Poppins'; 
  font-size: 15px;
  cursor: pointer;
  color: #ffffff;
}

.text-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-default);
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 16px;
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.content-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 20px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.text-wrapper-2 {
  width: fit-content;
  font-family: var(--body-body-m-font-family);
  font-weight: var(--body-body-m-font-weight);
  font-size: var(--body-body-m-font-size);
  line-height: var(--body-body-m-line-height);
  position: relative;
  margin-top: -1px;
  color: #000000;
  letter-spacing: var(--body-body-m-letter-spacing);
  white-space: nowrap;
  font-style: var(--body-body-m-font-style);
}

.flexcontainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.p {
  position: relative;
  align-self: stretch;
  font-family: var(--body-body-XS-font-family);
  font-weight: var(--body-body-XS-font-weight);
  color: #00000066;
  font-size: var(--body-body-XS-font-size);
  letter-spacing: var(--body-body-XS-letter-spacing);
  line-height: var(--body-body-XS-line-height);
  font-style: var(--body-body-XS-font-style);
}

.span {
  font-family: var(--body-body-XS-font-family);
  font-weight: var(--body-body-XS-font-weight);
  color: #00000066;
  font-size: var(--body-body-XS-font-size);
  letter-spacing: var(--body-body-XS-letter-spacing);
  line-height: var(--body-body-XS-line-height);
  font-style: var(--body-body-XS-font-style);
}

.input-image {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  background-color: #ebebeb4c;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--greeng-75);
  cursor: pointer;
}
.edit-image{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-end;
}
.edit-image .button{
    height: fit-content;
}
.product-preview{
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.img {
  position: relative;
  width: 20px;
  height: 20px;
}

.field {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--system-colors-miscellaneous-tab-unselected);
}

.placeholder {
  position: relative;
  flex: 1;
  height: 21px;
  margin-top: -1px;
  font-family: var(--body-body-s-font-family);
  font-weight: var(--body-body-s-font-weight);
  color: var(--greyg-75);
  font-size: var(--body-body-s-font-size);
  letter-spacing: var(--body-body-s-letter-spacing);
  line-height: var(--body-body-s-line-height);
  white-space: nowrap;
  font-style: var(--body-body-s-font-style);
}

.img-2 {
  position: relative;
  width: 15px;
  height: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #31602c;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.frame {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 40px;
  align-items: center;
  gap: 8px;
  padding: var(--size-space-300) 24px var(--size-space-300) 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--greeng-300);
  border-radius: 10px;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 714px;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 87px;
  left: -1px;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--greyg-75);
}

.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.menu-2 {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.text-wrapper-3 {
  position: relative;
  flex: 1;
  margin-top: -3px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--greeng-500);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.4px;
}

.frame-3 {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.icon-jam-icons {
  position: relative;
  width: 20px;
  height: 16.67px;
}

.text-wrapper-4 {
  position: relative;
  flex: 1;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--greeng-500);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.4px;
}

.text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -4px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--greeng-500);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15.4px;
}

.frame-4 {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--greeng-50);
  border-left-width: 8px;
  border-left-style: solid;
  border-color: var(--greeng-300);
}

.line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.frame-5 {
  display: flex;
  height: 35px;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
}

.frame-6 {
  display: flex;
  width: 1280px;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--greyg-75);
}

.frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  position: relative;
  width: 40px;
  height: 40px;
}

.frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.oneway {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--heading-heading-4-font-family);
  font-weight: var(--heading-heading-4-font-weight);
  color: var(--greeng-300);
  font-size: var(--heading-heading-4-font-size);
  letter-spacing: var(--heading-heading-4-letter-spacing);
  line-height: var(--heading-heading-4-line-height);
  font-style: var(--heading-heading-4-font-style);
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--body-body-XS-font-family);
  font-weight: var(--body-body-XS-font-weight);
  color: var(--greyg-500);
  font-size: var(--body-body-XS-font-size);
  letter-spacing: var(--body-body-XS-letter-spacing);
  line-height: var(--body-body-XS-line-height);
  white-space: nowrap;
  font-style: var(--body-body-XS-font-style);
}

.frame-9 {
  display: flex;
  width: 300px;
  align-items: center;
  gap: 15px;
  padding: 12px 16px;
  position: relative;
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--system-colors-miscellaneous-tab-unselected);
}

.icon-l {
  position: relative;
  width: 23px;
  height: 24px;
}

.search-for {
  position: relative;
  width: 76px;
  height: 21px;
  font-family: var(--body-body-s-font-family);
  font-weight: var(--body-body-s-font-weight);
  color: var(--colorsgraygray-6);
  font-size: var(--body-body-s-font-size);
  letter-spacing: var(--body-body-s-letter-spacing);
  line-height: var(--body-body-s-line-height);
  white-space: nowrap;
  font-style: var(--body-body-s-font-style);
}

.select-field {
  font-family: 'Poppins', sans-serif;
  color: var(--greyg-75);
  font-size: var(--body-body-s-font-size);
  width: 100%;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 12px) center;
  background-color: white;
  padding-right: 30px;
}

.select-field option {
  font-family: 'Poppins', sans-serif;
  padding: 12px 16px;
  background-color: white;
  color: var(--greeng-300);
  height: 40px;
}

.select-field option:first-child {
  color: var(--greyg-75);
}

.select-field option:hover,
.select-field option:focus,
.select-field option:active,
.select-field option:checked {
  background-color: #31602c !important;
  color: white !important;
}
