body {
  margin: 0;
  height: 100vh;
  line-height: normal;
  font-family: poppins;
}

:root {
  /* fonts */
  --button-button-m: poppins;
  --font-inter: Inter;

  /* font sizes */
  --body-body-s-size: 14px;
  --button-button-m-size: 16px;
  --heading-heading-2-size: 42px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray-100: #425466;
  --grey-darker: #373737;
  --color-gray-200: rgba(0, 0, 0, 0.4);
  --grey-normal: #9e9e9e;
  --green-g300: #31602c;
  --color-slategray-100: #7a828a;
  --green-g50: #eaefea;
  --text-default: #000;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-7xs: 6px;
}
input {
    border: none;
    background-color: transparent;
    font-family: poppins;
    font-size: 14px;
    color: rgb(27, 27, 27);
  }
  input:focus {
    outline: none;
    color: rgb(27, 27, 27);
  }
.logo-icon {
  width: 124px;
  position: relative;
  height: 124px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.text-logo {
  position: relative;
  line-height: 110%;
}
.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.title {
  position: relative;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
}
.form-title {
  width: 424px;
  position: relative;
  line-height: 140%;
  display: flex;
  align-items: center;
}
.placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 140%;
}
.field {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--green-g50);
  height: 46px;
  font-size: var(--body-body-s-size);
  color: var(--color-slategray-100);
}
.email {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.text {
  position: relative;
  line-height: 140%;
}
.control {
  position: absolute;
  top: calc(50% - 10px);
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.container {
  position: absolute;
  width: calc(100% - 66px);
  top: calc(50% - 9px);
  right: 50px;
  left: 16px;
  height: 16px;
  overflow: hidden;
}
.icon-eye-off {
  position: absolute;
  top: calc(50% - 13.5px);
  right: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.form-help-text1 {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 12px;
  display: flex;
  align-items: center;
}
.form-help-text {
  align-self: stretch;
  position: relative;
  height: 12px;
  text-align: end;
  font-size: 11px;
  color: #777e90;
  font-family: var(--font-inter);
}
.form {
  width: 424px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  color: var(--color-darkslategray-100);
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.button-login {
  width: 424px;
  border-radius: 12px;
  background-color: var(--green-g300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: #fcfcfd;
}
.label2 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  color: var(--grey-darker);
  cursor: pointer;
}
.help-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 4px;
  text-align: right;
  font-size: var(--body-body-s-size);
  color: var(--grey-normal);
}
.form-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: var(--button-button-m-size);
  color: var(--text-default);
}
.login1 {
  position: absolute;
  top: calc(50% - 341px);
  left: calc(50% - 236px);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  gap: 24px;
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-heading-2-size);
  color: var(--green-g300);
  font-family: var(--button-button-m);
}
