.left-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.right-page {
  width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.aside-header {
  width: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 18px 0px;
  box-sizing: border-box;
  gap: 25px;
}
.aside-header-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  text-align: left;
  font-size: 20px;
  font-family: var(--font-poppins);
  font-weight: 500;
}
.divider {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--grey-g75);
  box-sizing: border-box;
  height: 1px;
}
.aside-body {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--text-default);
  font-family: var(--body-body-s);
}
.invoice-info {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--text-default);
  font-family: var(--body-body-s);
}
.invoice-info-container {
  width: 100%;
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--grey-g75);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 20px;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--text-default);
  font-family: var(--body-body-s);
}
.textinvoice-container {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--text-default);
  font-family: var(--body-body-s);
}
.inv-info {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--text-default);
  font-family: var(--body-body-s);
}

.menu-order-info {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--grey-g500);
  font-family: var(--body-body-s);
}
.menu-order {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--grey-g75);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-sm) 0px 0px;
}
.text-container {
  height: 100%;
  flex: 1;
  width: 100%;
  position: relative;
  border-left: 16px solid var(--green-g300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-sm) 0px var(--padding-sm) 16px;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--body-body-s-size);
  color: var(--grey-g500);
  font-family: var(--body-body-s);
}
.text-bottom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--grey-g200);
}
.item {
  position: relative;
  line-height: 140%;
}
.price-total {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  color: #000;
  text-align: right;
}
.text-top {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-9xs);
}
.price {
  position: relative;
  line-height: 140%;
}
.menu {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.divider {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--grey-g75);
  box-sizing: border-box;
  height: 1px;
}
.item {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.aside-footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px var(--padding-base) var(--padding-xl);
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: var(--body-body-s-size);
    color: var(--grey-g50);
    font-family: var(--body-body-s);
  }
.price-bottom {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  color: var(--default);
  display: inline-block;
  height: 30px;
  flex-shrink: 0;
}
.text-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.printer-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-print {
  width: 48px;
  border-radius: 10px;
  background-color: var(--default);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  box-sizing: border-box;
  cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-lg);
  gap: 18px;
  font-size: var(--body-body-s-size);
  background-color: var(--grey-g50);
  scrollbar-width: none;
}
.main-title {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--body-body-s);
}
.text-title {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.button {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  cursor: pointer;
}
.icon-button {
  width: 40px;
  border-radius: var(--br-3xs);
  background-color: var(--green-g300);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  box-sizing: border-box;
  cursor: pointer;
}
.transaction-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding-bottom: 14px;
  text-align: center;
  font-size: var(--body-body-s-size);
  color: var(--grey-g300);
  font-family: var(--body-body-s);
}
.date {
  width: 100%;
  position: relative;
  font-size: var(--body-body-s-size);
  line-height: 140%;
  font-family: var(--body-body-s);
  color: var(--grey-g300);
  text-align: center;
  display: inline-block;
}
.transaction-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.transaction {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  box-sizing: border-box;
  gap: 12px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: var(--body-body-s);
}
#transaction-pressed {
  background-color: var(--green-g300);
  align-items: center;
  color: var(--default);
  font-family: var(--body-body-s);
  .item-transaction {
    color: var(--grey-g50);
  }
  .time {
    color: var(--grey-g50);
  }
}
.text-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 8px;
}
.price-transaction {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.item-transaction {
  align-self: stretch;
  position: relative;
  font-size: var(--body-body-s-size);
  color: var(--grey-g500);
  line-height: 140%;
}
.time {
  width: 35px;
  position: relative;
  font-size: var(--body-body-s-size);
  line-height: 140%;
  text-align: right;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--grey-g500);
}
