.aside-footer-container {
    align-self: stretch;
    border-radius: 20px;
    background-color: var(--green-g300);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) var(--padding-xl);
    gap: 12px;
  }

  
  .menu-text {
    flex: 1;
    position: relative;
    line-height: 110%;
    font-weight: 600;
  }
  .menu-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-sidebar {
    width: 100%;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 16px;
    box-sizing: border-box;
    gap: 8px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: var(--green-g500);
    font-family: var(--font-poppins);
  }
  .text {
    position: relative;
    line-height: 140%;
  }
  .sidebar-top {
    flex: 1;
    overflow-y: auto;
  }
  .sidebar-bottom {
      margin-top: auto;
  }
  .divider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid var(--grey-g75);
    box-sizing: border-box;
    height: 1px;
  }
  .sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-right: 1px solid var(--grey-g75);
    box-sizing: border-box;
    justify-content: space-between;
    font-size: var(--body-body-s-size);
    color: var(--green-g500);
    font-family: var(--body-body-s);
  }